.header_content{
    height: 100%;
    margin-top: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo{
        width: 102px;
        height: auto;
    }
    .nav_linsks{
        nav{
            .nav_lists{
                @include dFlex(center,start,start,50px);

                li{
                    transition: 0.5s ease;
                    cursor: pointer;
                    
                    &:hover{
                        transform: scale(1.1);
                        color: #FA7436;
                        text-decoration: underline ;
                    }
                }
            }
        }

    }
    .contact_links{
        a{
            @include dFlex(center,center,row,5px);
          span{
            color: #FA7436; 
           line-height: 50px;
            
          }
        }
    }
     .burger_menu{
        display: none;
        width: 35px;
        height: auto;

    }
    .Search_img{
        display: none;
    }
}

@media(max-width: 1200px){

    header{
        .header_content{
            margin-top: 20px;
            display: flex;
            column-gap: 10px;
            justify-content: space-around;       
        }
        .contact_links{
            // display: none;
         a{
            span{
                display: none;

            }
            img{
                display: none;
            }   
         }
            
         }

    }
  
}
@media(max-width: 768px){
    header {
     .header_content{
         margin-top: 20px;
         display: flex;
         column-gap: 10px;
         justify-content: space-around;
         .nav_linsks{
             display: none;
         }
         .burger_menu {
             display: block;
         }
         .contact_links{
            display: block;
         }
         .Search_img{
            display: block;
            @include dFlex(center,center,row,20px);
            img{
                width: 35px;
               
            }
        }
     }
     } 
  }
@media(max-width: 500px){
    header {
     .header_content{
         margin-top: 20px;
         display: flex;
         column-gap: 10px;
         justify-content: space-evenly;
         .nav_linsks{
             display: none;
         }
         .burger_menu {
             display: block;
         }
         .contact_links{
            display: block;
         }
         .Search_img{
            display: block;
            @include dFlex(center,center,row,20px);
            img{
                width: 35px;
               
            }
        }
     }
     } 
  }

