
.ebout_us{
    margin-top: 150px;
    @include dFlex(space-between,flex-start);
    .image{
        img{
            height: 600px;
            width: 500px;
        }
    }

    .ebout_us_content{
        .text_wraper{
            .title{
                color: #FA7436;
                
    
            }
            @include dFlex(space-between,flex-start,column);
            .main_title{
                margin-top: 20px;
                font-size: 48px;
                line-height: 70px;
                font-weight: bold;
                color:#222222;
                width: 561px;
                font-family:"Lato",Jeko-Black;
            }
            .mein_content{
                .main_desc{
                 font-size: 18px;
                 line-height: 28px;
                 width: 460px;
                 color: #444444;
                }
                .button{
                 margin-top: 20px;
                 background-color: #FA7436;
                 max-width: 204px;
                 height: 56px;
                 border-radius: 8px;
               @include dFlex(center,center);
                a{
                 color: #FFFFFF;
                 width: 124px;
                 height: 16px;
                }
                }
     
     
             }
           
        }
        .review{
            @include dFlex(flex-start,center,row,50px);
            .review_content{
                width: 100px;
                height: 100px;
                h2{
                    margin-top: 30px;
                    font-size: 40px;
                    line-height: 70px;
                    font-weight: bold;
                    color: #e34a037a;
                }
                p{
                    color: #7b7c7c;
                    font-size: 18px;
                    width: 90px;
                    height: 100px;
                    
                }
            }
         }
    }
 
}

@media(max-width:1200px){
 section{
    .ebout_us{
        @include dFlex(space-around,center,column);
        .image{
            img{
                width: 700px;
            }
        }
        .ebout_us_content{
            // margin-top: 20px;
            .text_wraper{
                .title{
                    margin-top: 40px;
                }
             
            }
        } 
    }
 }
    
}
@media(max-width:768px){
 section{
    .ebout_us{
        @include dFlex(space-around,center,column);
        .image{
            img{
                width: 480px;
            }
        }
        .ebout_us_content{
            .text_wraper{
                .title{
                    margin-top: 40px;
                }
                .main_title{
                    width: 450px;
                }
                .mein_content{
                    .main_desc{
                        width: 450px;
                    }
                }
             
            }
        } 
    }
 }
    
}
@media(max-width:500px){
 section{
    .ebout_us{
        margin-top: 80px;
        @include dFlex(space-around,center,column);
        .image{
            img{
                height: 400px;
                width: 300px;
            }
        }
        .ebout_us_content{
            .text_wraper{
                .title{
                    margin-top: 40px;
                }
                .main_title{
                    width: 300px;
                }
                .mein_content{
                    .main_desc{
                        width: 300px;
                    }
                }
             
            }
            .review{
                @include dFlex(space-evenly,center,row,70px); 
                .review_content{
                    width: 50px;
                }
            }
        } 
    }
 }
    
}